@{
    ViewData["Title"] = "Term API";
}
<h2>@ViewData["Title"]</h2>
<hr />

<h3>Endpoint for Current Term</h3>
<p>URL: /term/current</p>

<h3>Endpoint for Term for a Specific Date</h3>
<p>URL: /term/mm-dd-yyyy (datetime)</p>

<h3>Endpoint for Term from Term Code</h3>
<p>URL: /term/:termcode (int)</p>